---
import Base from "@layouts/Base.astro";
import Calendar from "@components/Calendar.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Base>
  <div class="flex flex-col items-center">
    <Calendar />
  </div>
</Base>
