---
import Base from "@layouts/Base.astro";
import Card from "@components/Card.astro";
import hcVillaImage from "@images/hc-front.jpeg";
import hcPoolImage from "@images/hc-pool.jpeg";
import ccVillaImage from "@images/cc-front.jpeg";
import ccPoolImage from "@images/cc-pool.jpeg";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Base>
  <div class="flex flex-col items-center">
    <header class="mb-8 text-center">
      <h1 class="text-4xl md:text-6xl font-bold text-gray-900 mb-2">
        {t("nav.title")}
        <span class="text-primary"> PatricksVilla </span>
      </h1>
      <p>{t("nav.subtitle")}</p>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-250">
      <Card
        topImg={ccVillaImage}
        bottomImg={ccPoolImage}
        title="Cape Coral (Fort Myers)"
        icons={[
          { icon: "person", label: t("home.cc.sleeps") },
          { icon: "bed", label: t("home.cc.bedrooms") },
          { icon: "shower", label: t("home.cc.bathrooms") },
          { icon: "pool", label: t("home.cc.pool") },
        ]}
        bullets={[
          t("home.cc.description.1"),
          t("home.cc.description.2"),
          t("home.cc.description.3"),
        ]}
        buttonUrl={getRelativeLocaleUrl(lang, "cape-coral")}
      />
      <Card
        topImg={hcVillaImage}
        bottomImg={hcPoolImage}
        title="Haines City (Orlando)"
        icons={[
          { icon: "person", label: t("home.hc.sleeps") },
          { icon: "bed", label: t("home.hc.bedrooms") },
          { icon: "shower", label: t("home.hc.bathrooms") },
          { icon: "pool", label: t("home.hc.pool") },
        ]}
        bullets={[
          t("home.hc.description.1"),
          t("home.hc.description.2"),
          t("home.hc.description.3"),
        ]}
        buttonUrl={getRelativeLocaleUrl(lang, "haines-city")}
      />
    </div>
  </div>
</Base>
