---
import Base from "@layouts/Base.astro";
import { Content } from "@content/cc-villa.md";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Base>
  <div class="container mx-auto px-4 markdown-content">
    <Content />
  </div>
</Base>
