---
import Base from "@layouts/Base.astro";
import { Content } from "@content/cc-villa.md";
import Prose from "@components/Prose.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "de" } }];
}
---

<Base>
  <div class="flex justify-center">
    <Prose>
      <Content />
    </Prose>
  </div>
</Base>
