---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
---

<html>
  <head>
    <title>My Page Title</title>
    <link rel="icon" type="image/png" href="/patricksvilla/favicon.png">
  </head>
  <body>
    <h1>www.PatricksVilla.com</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>