---
const { pathname } = Astro.url;

const menu = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Photo Gallery",
    url: "/cape-coral/villa",
  },
  {
    name: "The Villa",
    url: "/cape-coral/villa",
  },
  {
    name: "Location",
    url: "/cape-coral/villa",
  },
  {
    name: "Attractions",
    url: "/cape-coral/villa",
  },
  {
    name: "Contact Us",
    url: "/cape-coral/villa",
  },
  {
    name: "Rates",
    url: "/cape-coral/villa",
  },
  {
    name: "Availability",
    url: "/availability",
  },
  {
    name: "Who is Patrick?",
    url: "/cape-coral/villa",
  },
  {
    name: "FAQ",
    url: "/cape-coral/villa",
  },
  {
    name: "Golf",
    url: "/cape-coral/villa",
  },
  {
    name: "Shopping",
    url: "/cape-coral/villa",
  },
];
---

<header transition:persist>
  <a href=""><h1>www.PatricksVilla.com</h1></a>
  <nav>
    <ul>
      {
        menu.map((item) => (
          <li class="">
            <a
              href={item.url}
              class={`${
                (pathname === `${item.url}/` || pathname === item.url) &&
                "active"
              }`}
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<style>
  header {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 1rem;
    padding-right: 1rem;

    a {
      text-decoration: none;
    }

    h1 {
      color: #000099;
      text-align: center;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      list-style: none;
      gap: 16px;
      text-align: center;
    }

    li {
      width: 60px;
    }
  }
</style>
